body {
    background-image: url(../images/milky-way-starry-sky-night-sky-star-956999.jpeg);
    background-position: center center;
    background-size: cover;
}
.content-page {
    background-color: #20324abe;
}